[submodule "puppet/modules/ubuntu"]
	path = puppet/modules/ubuntu
	url = git@github.com:pro-vagrant/puppet-ubuntu.git
[submodule "puppet/modules/php5"]
	path = puppet/modules/php5
	url = git@github.com:pro-vagrant/puppet-php5.git
[submodule "puppet/modules/composer"]
	path = puppet/modules/composer
	url = git@github.com:pro-vagrant/puppet-composer.git
