[submodule "puppet/modules/ubuntu"]
	path = puppet/modules/ubuntu
	url = git@github.com:pro-vagrant/puppet-ubuntu.git
[submodule "puppet/modules/php5"]
	path = puppet/modules/php5
	url = git@github.com:pro-vagrant/puppet-php5.git
[submodule "puppet/modules/composer"]
	path = puppet/modules/composer
	url = git@github.com:pro-vagrant/puppet-composer.git
[submodule "puppet/modules/mysql"]
	path = puppet/modules/mysql
	url = git@github.com:pro-vagrant/puppet-mysql.git
[submodule "puppet/modules/phpunit"]
	path = puppet/modules/phpunit
	url = git@github.com:pro-vagrant/puppet-phpunit.git
[submodule "puppet/modules/php-cs-fixer"]
	path = puppet/modules/php-cs-fixer
	url = git@github.com:pro-vagrant/puppet-php-cs-fixer.git
[submodule "puppet/modules/box"]
	path = puppet/modules/box
	url = git@github.com:pro-vagrant/puppet-box.git
[submodule "puppet/modules/environment"]
	path = puppet/modules/environment
	url = git@github.com:pro-vagrant/puppet-environment.git
